[tool.poetry]
authors = ["Noshita, Koji <noshita@morphometrics.jp>"]
classifiers = [
  'Intended Audience :: Science/Research',
  'Intended Audience :: Developers',
  'License :: OSI Approved :: Apache Software License',
  'Programming Language :: Python',
  'Topic :: Software Development',
  'Topic :: Scientific/Engineering',
  'Operating System :: Microsoft :: Windows',
  'Operating System :: POSIX',
  'Operating System :: Unix',
  'Operating System :: MacOS',
  'Programming Language :: Python :: 3.8',
]
description = "**ktch** is a python package for model-based morphometrics."
homepage = "https://doc.ktch.dev/index.html"
keywords = ["morphometrics", "theoretical morphology"]
license = "Apache-2.0"
name = "ktch"
readme = "README.md"
repository = "https://github.com/noshita/ktch"
version = "0.2.0"

[tool.poetry.dependencies]
numpy = "^1.22"
pandas = "^1.4"
python = ">= 3.8, < 3.12"
scikit-learn = "^1.2"
scipy = "^1.8"
toml = "^0.10"

[tool.poetry.extras]
docs = [
  "sphinx",
  "sphinx-gallery",
  "sphinx_rtd_theme",
  "numpydoc",
  "matplotlib", # "toml"
]

[tool.poetry.group.dev.dependencies]
autopep8 = "^1.6.0"
flake8 = "^5.0.4"
invoke = "^1.4.1"
jupyter = "^1.0.0"
jupyterlab = "^3.4.4"
jupytext = "^1.14.5"
liccheck = "^0.7.2"
llvmlite = "^0.39.1"
matplotlib = "^3.5.2"
module-name = "^0.6.0"
myst-nb = "^0.17.2"
nbsphinx = "^0.9.2"
numba = "^0.56.4"
numpydoc = "^1.4.0"
opencv-python = "^4.7.0.68"
plotly = "^5.9.0"
poetry2conda = "^0.3.0"
pydata-sphinx-theme = "^0.12"
pytest = "^7.1"
pytest-cov = "^3.0"
seaborn = "^0.11.0"
setuptools = "<60.0"
sphinx = "^5.3"
sphinx-autobuild = "^2021.3"
sphinx-gallery = "^0.11"
sphinx-notfound-page = "^0.8.3"
sphinxcontrib-bibtex = "^2.5"
tqdm = "^4.64.1"
tslearn = "^0.5.3.2"
xarray = "^2022.6.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.poetry2conda]
name = "ktch"

# [tool.pytest.ini_options]
# minversion = "6.1"
# addopts = "--doctest-modules"

[tool.liccheck]
authorized_licenses = [
  "bsd",
  "new bsd",
  "bsd license",
  "simplified bsd",
  "apache",
  "apache 2.0",
  "apache software license",
  "isc license",
  "isc license (iscl)",
  "mit",
  "mit license",
  "python software foundation license",
  "Python Software Foundation",
]
unauthorized_licenses = [
  "gpl v3",
  "gnu agplv3",
]

[tool.liccheck.authorized_packages]
uuid = "<=1.30"
