name: Codecov
on:
  push:
    paths:
      [
        "ktch/**",
        .github/workflows/test-codecov.yml,
        pyproject.toml,
        requirements.txt,
      ]
jobs:
  run:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ["3.11", "3.12"]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pytest pytest-cov pytest-benchmark codecov
          pip install matplotlib seaborn
          pip install -r requirements.txt
          pip install -e .
      - name: Test with pytest
        run: |
          pytest --benchmark-skip --cov=./ --cov-report=xml
      - name: test
        run: |
          pwd
          ls
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage.xml
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
